<div class="container">
  <div class="row">
    <h4 class="bg-light mt-5">マイページ</h4>
  </div>
  <div class="row">
    <table class="table table-borderless">
  <tr>
    <th style="width: 10%">登録情報</th>
    <td><%= link_to "編集する", customers_infomation_edit_path, class: 'btn btn-md btn-success px-3' %></td>
  </tr>
</table>
<table class="table table-bordered border-dark col-6">
  <tbody>
    <tr>
      <th class="table-secondary col-2">氏名</th><td class="col-4"><%= @customer_fullname %></td>
    </tr>
    <tr>
      <th class="table-secondary">フリガナ</th><td><%= @customer_fullname_kana %></td>
    </tr>
    <tr>
      <th class="table-secondary">郵便番号</th><td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th class="table-secondary">住所</th><td><%= @customer.address %></td>
    </tr>
    <tr>
      <th class="table-secondary">電話番号</th><td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th class="table-secondary">メールアドレス</th><td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
<table class="table table-borderless">
  <tr>
    <th style="width: 10%">配送先</th>
    <td><%= link_to "一覧をみる", addresses_path, class: 'btn btn-md btn-primary px-3' %></td>
  </tr>
  <tr>
    <th style="width: 10%">注文履歴</th>
    <td><%= link_to "一覧をみる", orders_path, class: 'btn btn-md btn-primary px-3' %></td>
  </tr>
</table>
  </div>

</div>
