<div class="container">
  <div class="row">
    <h4 class="my-5 bg-light text-center col-2">商品詳細</h4>
  </div>



    <div class="row">
      <div class="col-4">
        <%= image_tag @item.get_image(300,200) %>
      </div>
      <div class="col-6">
        <div class="item-contents">
          <label for="item_name">商品名</label>
          <%= @item.name %>
        </div>
        <div class="item-contents">
          <label for="item_introduction">商品説明</label>
          <%= @item.introduction %>
        </div>
        <div class="item-contents">
          <label for="item_genre">ジャンル</label>
          <%= @item.genre.name %>
        </div>
        <div class="item-contents">
          <label for="item_price">税込価格</br>(税抜価格)</label>
          <%= @price %>
          (<%= @item.price %>)
        </div>
        <div class="item-contents">
          <label for="item_status">販売ステータス</label>
          <% if @item.is_active == true %>
          <p>販売中</p>
          <% else %>
          <p>販売停止中</p>
          <% end %>
        </div>

        <%= link_to "編集する", edit_admin_item_path, class: 'btn btn-sm btn-success' %>




      </div>

    </div>
  </div>
