<div class="container">
  <div class="row">
    <h4 class="my-5 bg-light text-center col-3">管理者ログイン</h4>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mx-auto">
      <div class="row my-3">
        <%= f.label "メールアドレス", class: "col-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-6" %>
      </div>
      <div class="row">
        <%= f.label "パスワード", class: "col-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-6" %>
      </div>

     <div class="row mt-5 ml-5">
        <%= f.submit "ログイン", class: "btn btn-primary btn-md px-5" %>
      </div>
    <% end %>
    <%= render "admin/shared/links" %>
    </div>
</div>

