<div class="container">
  <div class="row mt-5">
    <div class="mx-auto" style="position: relative; display:inline-block;">
      <%= image_tag 'ホールケーキ.jpeg' %>
      <div style="position: absolute; top: 300px; left: 160px; max-width: 100%; max-height: 100%; padding: 30px; text-align: left; background-color: orange;">
        <p class="font-weight-bold">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="font-weight-bold">新着商品</h2>
  </div>
  <div class="row">
    <% @items.first(4).each do |item| %>
    <div class="box col-3">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(250,150) %></br>
      <% end %>
      <%= item.name %></br>
      ￥<%= item.price.to_s(:delimited) %></br>
    </div>
    <% end %>

  </div>

  <div class="row mt-5">
    <div class="col-10"></div>
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>

  </div>
</div>