<div class="container">
  <h3><%= @customer.last_name + @customer.first_name + "さんの会員詳細" %></h3>


    <div class="row">
      <div class="col-6">
        <table class="table table-hover table-inverse">
          <tbody>
            <tr><th><label for="customer_id">会員ID</label></th><td><%= @customer.id %></td></tr>
            <tr><th><label for="customer_name">氏名</label></th><td><%= @customer.last_name + " " + @customer.first_name %></td></tr>
            <tr><th><label for="customer_kana_name">フリガナ</label></th><td> <%= @customer.last_name_kana + " " + @customer.first_name_kana %></td></tr>
            <tr><th> <label for="customer_postal">郵便番号</label></th><td><%= @customer.postal_code %></td></tr>
            <tr><th><label for="customer_address">住所</label></th><td><%= @customer.address %></td></tr>
            <tr><th><label for="customer_postal">電話番号</label></th><td><%= @customer.telephone_number %></td></tr>
            <tr><th><label for="customer_email">メールアドレス</label></th><td><%= @customer.email %></td></tr>
            <tr>
              <th><label for="customer_status">会員ステータス</label></th>
              <td>
                <% if @customer.is_deleted == false %>
                  <p class="text-success font-weight-bold">有効</p>
                <% else %>
                  <p class="text-secondary font-weight-bold">退会</p>
                <% end %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= link_to "編集する", edit_admin_customer_path, class: 'btn btn-sm btn-success' %>
              </td>
              <td></td>
              <td>
                <%= link_to "注文履歴一覧を見る", admin_path, class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
