<div class="container">
  <div class="row">
    <h4 class="my-5 bg-light col-2">注文履歴詳細</h4>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th class="col-2">購入者</th>
        <td><%= @order.customer.last_name + @order.customer.first_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @order.postal_code + @order.address %></br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td>
          <% if @order.payment == 0 %>
           <p>クレジットカード</p>
          <% else %>
           <p>銀行振込</p>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class="row">
      <table class="table table-borderless">
      <tr>
        <th class="col-2">注文ステータス</th>
        <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
        <td class="col-2">
          <%= f.select :status, [['入金待ち',0], ['入金確認',1], ['製作中',2],['発送準備中',3],['発送済み',4]] %>
        </td>
        <td>
          <%= f.submit "更新", class: "btn btn-sm btn-success" %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="row">
    <table class="table table-borderless col-8">
      <thead class="table-secondary">
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </thead>
      <% @order.order_details.each do |order_detail| %>
      <tbody>
        <td>
          <%= order_detail.item.name %>
        </td>
        <td>
          <%= order_detail.item.with_tax_price %>
        </td>
        <td>
          <%= order_detail.quantity %>
        </td>
        <td>
          <%= order_detail.item.with_tax_price * order_detail.quantity %>
        </td>
        <%= form_with model: @order_detail, url: admin_order_detail_path, method: :patch do |f| %>
        <td>
          <%= f.select :making_status, [['製作不可',0], ['製作待ち',1], ['製作中',2],['製作完了',3]] %>
        </td>
        <td>
          <%= f.submit "更新", class: "btn btn-sm btn-success" %>
        </td>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="col-1"></div>
    <table class="table table-borderless col-3">
      <tr>
        <th class="col-2">商品合計</th>
        <td class="col-1"><%= @total %>円</td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= 800 %>円</td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td class="font-weight-bold"><%= @order.billing_amount %>円</td>
      </tr>

    </table>
  </div>
</div>