<div class="container">
  <div class="row">
    <h4 class="my-5 bg-light col-2">注文履歴詳細</h4>
  </div>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th class="col-2">購入者</th>
        <td><%= link_to @order.customer.last_name + @order.customer.first_name, admin_customer_path(@order.customer.id) %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= l @order.created_at %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @order.postal_code + @order.address %></br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td>
          <% if @order.payment == 0 %>
           <p>クレジットカード</p>
          <% else %>
           <p>銀行振込</p>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class="row">
      <table class="table table-borderless">
      <tr>
        <th class="col-2">注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
          <%= f.select :status, Order.statuses_i18n.invert %>

          <%= f.submit "更新", class: "btn btn-sm btn-success" %>
          <% end %>
        </td>

      </tr>
    </table>
  </div>

  <div class="row">
    <table class="table table-borderless col-8">
      <thead class="table-secondary">
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </thead>
      <% @order.order_details.each do |order_detail| %>
      <tbody>
        <td>
          <%= order_detail.item.name %>
        </td>
        <td>
          <%= order_detail.item.with_tax_price.to_s(:delimited) %>
        </td>
        <td>
          <%= order_detail.quantity %>
        </td>
        <td>
          <%= (order_detail.item.with_tax_price * order_detail.quantity).to_s(:delimited) %>
        </td>
        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
          <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
          <%= f.submit "更新", class: "btn btn-sm btn-success" %>
          <% end %>
        </td>

      <% end %>
      </tbody>
    </table>
    <div class="col-1"></div>
    <table class="table table-borderless col-3">
      <tr>
        <th class="col-2">商品合計</th>
        <td class="col-1"><%= @total.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= 800 %>円</td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td class="font-weight-bold"><%= @order.billing_amount.to_s(:delimited) %>円</td>
      </tr>

    </table>
  </div>
</div>