<div class="container">
  <div class="row">
    <h5 class="my-5 text-center bg-light col-2">ログイン</h5>
  </div>
  <div class="row">
    <p class="ml-5 text-center bg-light col-4">会員の方はこちらからログイン</p>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mx-auto">
      <div class="row mb-3">
        <%= f.label "メールアドレス", class: "col-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-3", placeholder: "sample@example.com" %>
      </div>
      <div class="row mb-3">
        <%= f.label "パスワード", class: "col-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-3" %>
      </div>
      <div class="row">
        <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <p class="ml-5 text-center bg-light col-4">会員登録がお済みでない方</p>
  </div>
  <div class="row">
    <%= render "public/shared/links" %>
    <p>から新規登録を行ってください。</p>
  </div>
</div>