<div class="container">
  <div class="row">
    <h4 class="font-weight-bold mt-5 mb-3">商品一覧</h4>
    <h5 class="font-weight-bold mt-5 mb-2">(全<%= @count %>件)</h5>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="box col-3 p-2">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(250,150) %></br>
      <% end %>
      <%= item.name %></br>
      ￥<%= item.price.to_s(:delimited) %></br>
    </div>
    <% end %>
  </div>
  <div class="row my-3">
    <%= paginate @items %>
  </div>
</div>