<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @item.get_image(300,200) %>
    </div>
    <div class="col-6">
      <div class="box">
        <%= @item.name %></br>
        <%= @item.introduction %></br>
        ￥<%= @price %>(税込)</br>
        <% form_with model: @cart_item, cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :name, :value => @item.id %>
          <%= f.select :amount, [[1,1], [2,2], [3,3], [4,4], [5,5], [6,6], [7,7], [8,8], [9,9], [10,10] %>
          <%= f.submit "カートに入れる", cart_items_path, class: "btn btn-md btn-success" %>
        <% end %>
    </div>
  </div>
</div>